@font-face {
  font-family: "averta";
  src: url("../assets/fonts/averta-thin.otf");
  font-weight: 200;
}
@font-face {
  font-family: "averta";
  src: url("../assets/fonts/averta-light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "averta";
  src: url("../assets/fonts/averta-regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "averta";
  src: url("../assets/fonts/averta-semibold.otf");
  font-weight: 500;
}

@font-face {
  font-family: "averta";
  src: url("../assets/fonts/averta-bold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "averta";
  src: url("../assets/fonts/averta-extrabold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "averta";
  src: url("../assets/fonts/averta-black.otf");
  font-weight: 800;
}
